<%- include('../partials/header')-%>
<div class="intro intro-single route bg-image" style="background-image: url(assets/img/torii.jpg)">
  <div class="overlay-mf"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h2 class="intro-title mb-4"><span style="color: #ff9f43">For</span><span style="color: #0abde3">got</span> <span style="color: #f5f5f5">Pas</span><span style="color: #ff434c">swo<span><span style="color: #ff9f43">rd<span></h2>
        
      </div>
    </div>
  </div>
</div>
<main id="forgot-padding">
  <div class="container mt-5  w-50 ">
    <%- include('../partials/message')-%>
    <form action="/forgot" method="POST">
      <div class="form-group px-0">
        <input required type="email" name="email" class="form-control input mt-2" placeholder="Enter Email">
      </div>
      
      <button class="btn login btn-block mt-4" type="submit">Send Email</button>
    </form>
    <a class="float-right py-2" href="/login">Back to Login</a>
  </div>
  
</main>

<%- include('../partials/footer')-%>