<%- include('partials/header')-%>
<div class="intro intro-single route bg-image" style="background-image: url(assets/img/torii.jpg)">
  <div class="overlay-mf"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
      
        <h2 class="intro-title mb-4"><span style="color: #ff9f43">Blog</span> <span style="color: #0abde3">Pa</span><span style="color: #f5f5f5">ge</span><span style="color: #ff434c"><span><span style="color: #ff9f43"><span></h2>
        <ol class="breadcrumb d-flex justify-content-center">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item active">Blog Details</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<main id="blog">

  <h1 class="text-center">Welcome</h1>
<h2 class="text-center text-danger">Blog page coming soon!
  <a href="/" class="btn btn-info">Go Back To Home Page</a>
</h2>

</main>
<%- include('partials/footer')-%>