<%- include('partials/header') -%>

<div id="home" class="intro route bg-image" style="background-image: url(assets/img/profile.png)">

  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h1 class="intro-title mb-4">I am Ogbonna Chinonso Ubadire</h1>
        <p class="intro-subtitle"><span class="text-slider-items">CEO OgbFolio,Web Developer,Web Designer,Backend
            Developer,Computer Engineer</span><strong class="text-slider"></strong></p>
       
      </div>
    </div>
  </div>
</div>
</div>

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="assets/img/ogb.jpg" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span class="title-s1">Ogbonna Chinonso Ubadire</span></p>
                      <p><span class="title-s">Profile: </span> <span class="title-s1"> Backend developer</span></p>
                      <p><span class="title-s">Email: </span><span class="title-s1">ogbonnachinonsoubadire@gmail.com</span>
                      </p>
                      <p><span class="title-s">Phone: </span><span class="title-s1">+234(0)8107583440</span></p>
                    </div>
                  </div>
                </div>
              
              <div class="col-md-12">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    I am a Web Consultant based in Nigeria, I am passionate about making the web accessible to everyone.
                  </p>
                  <p class="lead">
                    I have a firm knowledge of HTML, CSS, BOOTSTRAP, JavaScript, Node Js, Express Js, Rest API and MongoDB and possess a good
                    knowledge of computer software packages (frameworks and tools) that are used in today's technology.
                  </p>
                  <p class="lead">
                    On a personal level, I am highly-motivated, result oriented,  self-driven, hard-working, team player, fast learner and constantly seeking to improve my skills. 
                  </p>
                  <p class="lead">
                    In addition to this, i have the ability to adapt to new environment, I am term oriented and get along with others when working in  a group. I also have the ability to work independently while staying on schedule and  meeting deadlines.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  
    <!-- ======= Services Section ======= -->
    <section id="service" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Services
              </h3>
              <p class="subtitle-a title-ss">
             We render services such as seen below.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-monitor"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Web Design</h2>
                <p class="title-s1 text-center">
                 We make your website look good by offering different creative layouts and styles that captivate your customers and can easily be developed.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-code-working"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Web Development</h2>
                <p class="title-s1 text-center">
                  We breathe life to your creative designs through different programming languages, giving you the best experience visiting our site.
                </p>
              </div>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Responsive Design</h2>
                <p class="title-s1 text-center">
                  We ensure our website is optimized to display user-friendly, taking into consideration your screen-size(computer, tablet, and mobile phones).
                </p>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </section><!-- End Services Section -->


  <!-- ======= Portfolio Section ======= -->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Projects
            </h3>
            <p class="subtitle-a px-4 title-ss">
              Below are some of my project samples. Clicking the plus sign takes you to the projects where you can get the details of a particular project and it's external link.
            </p>
            <div class="line-m"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/cov-1.png" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/cov-1.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Covid-19 Reports</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Design</span> / <span class="w-date">16 Mar. 2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="u-like">
                    <a href="/portfolio"> <span class=""></span>view</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="work-box">
            <a href="https://res.cloudinary.com/minalabels/image/upload/v1601637185/folio/healthy_tutwbe.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="https://res.cloudinary.com/minalabels/image/upload/v1601637185/folio/healthy_tutwbe.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Recipes App</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Development</span> / <span class="w-date">20 Aug. 2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="u-like">
                    <a href="/portfolio"> <span class=""></span>view</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="https://res.cloudinary.com/minalabels/image/upload/v1601637350/folio/street_czqh3p.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="https://res.cloudinary.com/minalabels/image/upload/v1601637350/folio/street_czqh3p.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Gazie Hotels</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Development</span> / <span class="date">15 Mar. 2021</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="u-like">
                    <a href="/portfolio"> <span class=""></span>view</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="view">
      <a href="/portfolio" id="LoadMore" class="btn-read_more scrollto">See More</a>
    </div>
    
  </section><!-- End Portfolio Section -->


  <!-- ======= Contact Section ======= -->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route"
    style="background-image: url(assets/img/torii.jpg)">
    <div class="overlay-mf"></div>
    <div class="container" >
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <h1 class="section-title text-center pt-1">Our Contact</h1>
              <hr>
              <div class="row">
                
                  <div class="col-lg-4 col-md-4">
                    <div class="contact-abou" >
                      <h3>
                        <strong>
                          <small class="px-4">OgbFolio</small>
                        </strong>
                      </h3>
                      <p class="text-center px-3 ">For further information, enquiries and or assistance, contact us through the
                        following links below. You can as well reach us via email and phone through the email and number below
                      </p>
                      <div class="socials ml-5 ">
                        <ul class="mb-3">
                          <li><a href="" target="_blank"><span class="ico-circle mb-3"><i class="ion-social-facebook"></i></span></a></li>
                          <li><a href="https://bit.ly/2Z6Xyxw" target="_blank"><span class="ico-circle mb-3"><i class="fa fa-instagram"></i></span></a></li>
                          <li><a href="https://twitter.com/@ogbonnaubadire" target="_blank"><span class="ico-circle mb-3"><i class="ion-social-twitter"></i></span></a></li>
                          <li><a href="https://bit.ly/2Z6Xyxw" target="_blank"><span class="ico-circle mb-3" ><i class="fa fa-linkedin"></i></span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
          
                  <div class="col-lg-3 col-md-4">
                    <div class="inf">
                      <div class="text-center dar px-4">
                        <i class="ion-ios-location-outline"></i>
                        <p> 7 factory Road Aba,
                          <br>Abia state, Nigeria</p>
                      </div>
          
                      <div class="text-center dar">
                        <i class="ion-ios-email-outline"></i>
                        <p><i>desmondubadire@gmail.com</i></p>
                      </div>
          
                      <div class="text-center dar px-4">
                        <i class="ion-ios-telephone-outline"></i>
                        <p>08107583440</p>
                      </div>
          
                    </div>
                  </div>
          
                  <div class="col-lg-5 col-md-8">
                    <div class="form">
                      <div id="sendmessage" class="text-center">Message Us</div>
                      <br>
                      <%- include('partials/message') -%>
                      <div id="errormessage"></div>
                      <form action="/send" method="POST" role="form" class="emailForm">
                        <div class="form-row">
                          <div class="form-group col-lg-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                              data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                              <div class="validation"></div>
                          </div>
                          <div class="form-group col-lg-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                              data-rule="email" data-msg="Please enter a valid email" />
                              <div class="validation"></div>
                          </div>
                          <div class="form-group col-lg-6">
                            <input type="number" class="form-control" name="phone" id="phone" placeholder="Your Phone Number"
                              data-rule="minlen:11" data-msg="Please enter a valid number" />
                              <div class="validation"></div>
                          </div>
                          <div class="form-group col-lg-6">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                              data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                              <div class="validation"></div>
                          </div>
                          <div class="form-group col-lg-12">
                            <textarea  class="form-control" name="message" rows="5" data-rule="required"
                              data-msg="Please write something for us" placeholder="Message"></textarea>
                              <div class="validation"></div>
                          </div>
                          <div class="col-md-12 text-center mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                          </div>
                          <div class="text-center">
                            <button type="submit" class="button button-a button-big button-rouded" title="Send Message">Send Message</button>
                          </div>
                      </form>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->


  <%- include('partials/footer') -%>