<%- include('partials/header') -%>

<div id="home" class="intro route bg-image" style="background-image: url(assets/img/profile.png)">

  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h1 class="intro-title mb-4">I am Ogbonna Chinonso Ubadire</h1>
        <p class="intro-subtitle"><span class="text-slider-items">CEO OgbFolio,Web Developer,Web Designer,Backend
            Developer,Computer Engineer</span><strong class="text-slider"></strong></p>
       
      </div>
    </div>
  </div>
</div>
</div>

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="assets/img/ogb.jpg" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span class="title-s1">Ogbonna Chinonso Ubadire</span></p>
                      <p><span class="title-s">Profile: </span> <span class="title-s1"> Backend developer</span></p>
                      <p><span class="title-s">Email: </span><span class="title-s1">ogbonnachinonsoubadire@gmail.com</span>
                      </p>
                      <p><span class="title-s">Phone: </span><span class="title-s1">+234(0)8107583440</span></p>
                    </div>
                  </div>
                </div>
              
              <div class="col-md-12">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    I am a Web Consultant based Nigeria, I am passionate about making the web accessible to everyone.
                  </p>
                  <p class="lead">
                    I have a firm knowledge of HTML, CSS, BOOTSTRAP, JavaScript, Node Js, Expres Js, Rest API and MongoDB and possess a good
                    knowledge of computer software packages (frameworks and tools) that are used in today's technology.
                  </p>
                  <p class="lead">
                    On a personal level, I am highly-motivated, result oriented,  self-driven, hard-working, team player, fast learner and constantly seeking to improve my skills. 
                  </p>
                  <p class="lead">
                    In addition to this, i have the ability to adapt to new environment, I am term oriented and get along with others when working in  a group. I also have the ability to work independently while staying on schedule and  meeting deadlines.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  
    <!-- ======= Services Section ======= -->
    <section id="service" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Services
              </h3>
              <p class="subtitle-a title-ss">
             We render services such as seen below.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-monitor"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Web Design</h2>
                <p class="s-description text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                  provident vitae! Magni
                  tempora perferendis eum non provident.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-code-working"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Web Development</h2>
                <p class="s-description text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                  provident vitae! Magni
                  tempora perferendis eum non provident.
                </p>
              </div>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Responsive Design</h2>
                <p class="s-description text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                  provident vitae! Magni
                  tempora perferendis eum non provident.
                </p>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </section><!-- End Services Section -->


  <!-- ======= Portfolio Section ======= -->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Projects
            </h3>
            <p class="subtitle-a px-4 title-ss">
              Below are some of my project samples. Clicking the plus sign takes you to the projects where you can get the details of a particular project and it's external link.
            </p>
            <div class="line-m"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="https://res.cloudinary.com/minalabels/image/upload/v1601637230/folio/red_ssb6z2.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="https://res.cloudinary.com/minalabels/image/upload/v1601637230/folio/red_ssb6z2.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Reports</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Design</span> / <span class="w-date">16 Mar. 2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="/portfolio"> <span class="ion-ios-plus-outline"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="work-box">
            <a href="https://res.cloudinary.com/minalabels/image/upload/v1601637319/folio/laptop_kttfrk.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="https://res.cloudinary.com/minalabels/image/upload/v1601637319/folio/laptop_kttfrk.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Recipes App</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Development</span> / <span class="w-date">20 Aug. 2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="/portfolio"> <span class="ion-ios-plus-outline"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="https://res.cloudinary.com/minalabels/image/upload/v1601637350/folio/street_czqh3p.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="https://res.cloudinary.com/minalabels/image/upload/v1601637350/folio/street_czqh3p.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Story Book</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Development</span> / <span class="date">18 Sep. 2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="/portfolio"> <span class="ion-ios-plus-outline"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="view">
      <a href="/portfolio" id="LoadMore" class="btn-read_more scrollto">See More</a>
    </div>
    
  </section><!-- End Portfolio Section -->


  <!-- ======= Contact Section ======= -->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route"
    style="background-image: url(assets/img/torii.jpg)">
    <div class="overlay-mf"></div>
    <div class="container" >
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Message Us
                    </h5>
                  </div>
                  <%- include('partials/message')-%>
                  <div>
                    <form action="/send" method="POST" role="for" class="email-form">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                              data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validate"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                              data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validate"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                              data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required"
                              data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validate"></div>
                          </div>
                        </div>
                        <div class="col-md-12 text-center mb-3">
                          <div class="loading">Loading</div>
                          <div class="error-message"></div>
                          <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="col-md-12 text-center">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      For further enquires or information, reach out to us through our phone number, via our email
                      address, via our social media handles or visit us @ the location below.
                    </p>
                    <ul class="list-ico">
                      <li class="title-ss"><span class="ion-ios-location "></span > 7 Factory Road Aba, Abia State</li>
                      <li class="title-ss"><span class="ion-ios-telephone"></span> (+234) 8107583440</li>
                      <li class="title-ss"><span class="ion-email"></span>desmondubadire@gmail.com</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="fa fa-instagram"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="fa fa-linkedin"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->

 




  <%- include('partials/footer') -%>